@model DatabaseWorker.Models.DeliveryOrder

@{
    ViewData["Title"] = "Create";
}

<h1>Создать новый заказ</h1>

<h4>Форма создания заказа</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Id)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Id)
            </dd>
            <div class="form-group">
                <label asp-for="SenderCity" class="control-label"></label>
                <input asp-for="SenderCity" class="form-control" />
                <span asp-validation-for="SenderCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SenderAddress" class="control-label"></label>
                <input asp-for="SenderAddress" class="form-control" />
                <span asp-validation-for="SenderAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecipientCity" class="control-label"></label>
                <input asp-for="RecipientCity" class="form-control" />
                <span asp-validation-for="RecipientCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecipientAddress" class="control-label"></label>
                <input asp-for="RecipientAddress" class="form-control" />
                <span asp-validation-for="RecipientAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CargoWeight" class="control-label"></label>
                <input asp-for="CargoWeight" class="form-control" />
                <span asp-validation-for="CargoWeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CargoPickupDate" class="control-label"></label>
            <input asp-for="CargoPickupDate" class="form-control" value="@DateTime.Today.AddMinutes(1).ToString("dd-MM-yyyy HH:mm")" />
                <span asp-validation-for="CargoPickupDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать заказ" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
